'use strict'

/**
 * Configuration New Relic pour l'application web
 */
exports.config = {
  /**
   * Clé de compte et ID de l'application
   */
  license_key: '{{ new_relic_license_key }}',
  app_name: ['{{ app_name }}'],
  
  /**
   * Niveau de log et fichier de log
   */
  logging: {
    level: 'info',
    filepath: '/var/log/newrelic-agent.log'
  },
  
  /**
   * Configuration APM
   */
  application_logging: {
    forwarding: {
      enabled: true
    }
  },
  
  /**
   * Paramétrage de la collecte de données transactionnelles
   */
  transaction_tracer: {
    enabled: true,
    record_sql: 'obfuscated',
    threshold: {
      is_apdex_failing: true
    }
  },
  
  /**
   * Règles de sécurité et confidentialité
   */
  rules: {
    ignore: [
      '^/status',
      '^/health'
    ]
  },
  
  /**
   * Attributs personnalisés
   */
  attributes: {
    include: [
      'request.headers.user-agent',
      'request.headers.x-forwarded-for',
      'request.headers.host'
    ],
    exclude: [
      'request.headers.cookie',
      'request.headers.authorization',
      'request.headers.proxyAuthorization',
      'request.headers.setCookie*',
      'request.headers.x*',
      'response.headers.cookie',
      'response.headers.authorization',
      'response.headers.proxyAuthorization',
      'response.headers.setCookie*',
      'response.headers.x*'
    ]
  },
  
  /**
   * Environnement
   */
  allow_all_headers: true,
  browser_monitoring: {
    auto_instrument: true
  },
  environment: '{{ deploy_env | default("production") }}'
}